node_modules/
*.tsbuildinfo
.tff/
.claude/
docs/
*.db
.beads/
.worktrees/
/branch-meta.json
plugin-dev/commands/
plugin-dev/workflows/
plugin-dev/skills/
plugin-dev/agents/
plugin-dev/tools/
plugin-dev/hooks/
plugin-dev/references/
